<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    .checked {
  color: orange;
}
</style>
<body>

<div class="w3-container w3-teal">
  <h1>OUR PUBLICITY OPTIONS FOR YOU</h1>
</div>

<div class="w3-row-padding w3-margin-top">
  <div class="w3-third">
    <div class="w3-card">
      <img src="https://images.pexels.com/photos/267350/pexels-photo-267350.jpeg?auto=compress&cs=tinysrgb&w=1600" style="width:95%">
      <div class="w3-container">
        <h5>Social media ads</h5>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Use an element to toggle between a like/dislike icon -->
        <i onclick="myFunction(this)" class="fa fa-thumbs-up"><h6>700 likes</h6></i>
      </div>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
          <a href="billing"><centre>  <button> <h6>CHECKOUT</h6> </button></centre></a>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src="https://images.pexels.com/photos/2385565/pexels-photo-2385565.jpeg?auto=compress&cs=tinysrgb&w=1650" style="width:100%" height="310">
      <div class="w3-container">
          <h5>Magazine</h5>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Use an element to toggle between a like/dislike icon -->
      <div> <i onclick="myFunction(this)" class="fa fa-thumbs-up"><h6>420 likes</h6></i>
      </div>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
      </div>
         <a href="billing"><centre>  <button> <h6>CHECKOUT</h6> </button></centre></a>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src="https://images.pexels.com/photos/802024/pexels-photo-802024.jpeg?auto=compress&cs=tinysrgb&w=1600" style="width:95%">
      <div class="w3-container">
          <h5>At Famous places</h5>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Use an element to toggle between a like/dislike icon -->
<i onclick="myFunction(this)" class="fa fa-thumbs-up"><h6>223 likes</h6></i>
      </div>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star"></span>
        <br><a href="billing"><centre>  <button> <h6>CHECKOUT</h6> </button></centre></a>
    </div>

  </div>
</div>

<div class="w3-row-padding w3-margin-top">
  <div class="w3-third">
    <div class="w3-card">
      <img src="https://images.pexels.com/photos/1031700/pexels-photo-1031700.jpeg?auto=compress&cs=tinysrgb&w=1600" style="width:95%">
      <div class="w3-container">
        <h5>poster</h5>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Use an element to toggle between a like/dislike icon -->
<i onclick="myFunction(this)" class="fa fa-thumbs-up"><h6>126 likes</h6></i>

      </div>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
      <br>
        <a href="billing"><centre>  <button> <h6>CHECKOUT</h6> </button></centre></a></div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkJMcA_IhamYe3RNZksRCjg479WNR_hL-YqA&usqp=CAU" style="width:95%" height="310">
      <div class="w3-container">
        <h5>Tv Commericals</h5>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Use an element to toggle between a like/dislike icon -->
<i onclick="myFunction(this)" class="fa fa-thumbs-up"><h6>905 likes</h6></i>
      </div>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
     <br>
        <a href="billing"><centre>  <button> <h6>CHECKOUT</h6> </button></centre></a> </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src="https://images.pexels.com/photos/682082/pexels-photo-682082.jpeg?auto=compress&cs=tinysrgb&w=1600" style="width:95%">
      <div class="w3-container">
        <h5>Radio ads</h5>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Use an element to toggle between a like/dislike icon -->
<i onclick="myFunction(this)" class="fa fa-thumbs-up"><h6>91 likes</h6></i>
      </div>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star"></span>
      <br><a href="billing"><centre>  <button> <h6>CHECKOUT</h6> </button></centre></a></div>
  </div>
</div>
<script>
  function myFunction(x) {
  x.classList.toggle("fa-thumbs-down");
}
</script>
</body>
</html>





